* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

body,
h1,
h2,
p,
ul,
button,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

label,
input,
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
